altair==5.4.1
chinesecalendar==1.9.2
duckdb==1.1.1
matplotlib==3.9.2
numpy==2.1.1
pandas==2.2.3
plotly==5.24.1
python_dateutil==2.9.0
python_dateutil==2.9.0.post0
schedule==1.2.2
streamlit==1.39.0
streamlit_analytics2==0.8.2
streamlit_extras==0.4.7
